{# empty Twig template #}<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <title>
            {% block title %} Gestión Superpersona {% endblock %}
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script  src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" />
        <script  src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script  src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script  src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
        <script  src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script  src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        <script  src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script  src={{asset('js/jquery.validate.min.js')}}></script>
        <script  src={{asset('js/Spinner/jquery.preloaders.js')}}></script>




    </head>
    <body>
        {% if login is not defined %}
            {% include '@App/menuNav.html.twig' %}
        {% endif %}
        <section id="content" class="container">
            {% block content %} Content default {% endblock %}

        </section>
        <!-- Footer -->


    </body>

    <style>
        h1,h2,h3,p{
            color:white;
        }
        body{
            background-color: #ADD8E6;
        }
        .navbar .navbar-expand-lg{
            background-color: #ADD8E6;
        }

        .panel-table{
            border-style: solid;
            background-color: #e8e8e7;
        }
        .panel-heading{
            background-color: #8B0000;
            padding:2px;
        }
        .panel-body{
            margin: 5px;

        }
        .nav-link, .navbar-brand{
            color:white;
        }

        table  {
            text-align: center;
        }



        .input-group-addon{font-size: 20px;}


    </style>


