<header class="container">
    <nav class="navbar navbar-expand-lg bg-info" >
        <a class="navbar-brand" href="{{path("app_homepage")}}">Acta de Registro Sobrehumano</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path("index_superpersonas")}}">Superpersonas</a>
                    </li>

                {% endblock %}
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i><span class="caret"></span>
                    </a>
                    <div class="dropdown-menu" >

                        {% if app.user == null %}
                            <a class="dropdown-item" href="{{path("login")}}">Entrar</a>

                        {% else %}
                            <a class="dropdown-item" href="{{path("logout")}}">Cerrar Sesión</a>
                        {% endif %}
                    </div>
                </li>
            </ul>



        </div>
    </nav>
</header>
