{% extends "@App/layout.html.twig" %}
{% block content %}
    <div class="row justify-content-center">  
        <div class="col-md-12" style="text-align:center;">
            <h1>{{titulo}}</h1>
        </div>

        <div class="col-md-5" style="border-style:solid;background-color: #CCCCCC;border-radius:10px;padding:5px;">
            {% if errors is defined %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in errors %}
                            <li>{{error.nombre}}</li>
                            {%endfor%}
                    </ul>
                </div>

            {% endif %}

            <div class="alert alert-success exito" role="alert" style="display:none;">

            </div>

            <div class="alert alert-danger error" role="alert" style="display:none;" >

            </div>
            {{form_start(form)}}

            <div class="form-group">
                {{ form_label(form.nombre) }}

                {{ form_widget(form.nombre) }}


                <span class="errorNombre" style="color:red;"></span>
            </div>

            <div class="form-group">
                {{ form_label(form.ciudad) }}
                {{ form_widget(form.ciudad) }}
                <span class="errorCiudad" style="color:red;"></span>

            </div>
            <div class="form-group">
                {{ form_label(form.tipo) }}
                {{ form_widget(form.tipo) }}
                <span class="errorTipo" style="color:red;"></span>
            </div>  
            <div class="form-group">
                {{ form_label(form.fuerza) }}

                {{ form_widget(form.fuerza) }}
                <span id="fuerza">
                    {% if superpersona.fuerza == 0%}
                        0
                    {% else %}
                        {{superpersona.fuerza}}
                    {% endif %}
                </span>
            </div>



            <div class="form-group">
                {{ form_label(form.inteligencia) }}

                {{ form_widget(form.inteligencia) }}
                <span id="inteligencia">
                    {% if superpersona.inteligencia == 0%}
                        0
                    {% else %}
                        {{superpersona.inteligencia}}
                    {% endif %}
                </span>
            </div>


            <div class="form-group">
                {{ form_label(form.salud) }}

                {{ form_widget(form.salud) }}
                <span id="salud">

                    {% if superpersona.salud == 0%}
                        0
                    {% else %}
                        {{superpersona.salud}}
                    {% endif %}
                </span>

            </div>
            {{form_end(form)}}
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-success" id="guardar" style="width: 100%;">Guardar</button>
                </div>
                <div class="col-md-6">
                    <a  class="btn btn-info" id="volver" href="{{path('index_superpersonas')}}" style="width: 100%;">Volver</a>
                </div>
            </div>
        </div>
    </div>
    <script>


		$(document).ready(function ()
		{
			$('#appbundle_superpersona_fuerza').change(function () {

				$('#fuerza').text($(this).val());
			});
			$('#appbundle_superpersona_salud').change(function () {

				$('#salud').text($(this).val());
			});
			$('#appbundle_superpersona_inteligencia').change(function () {

				$('#inteligencia').text($(this).val());
			});

			$("#formulario").validate({

				rules: {
					"appbundle_superpersona[nombre]": {
						required: true,
						maxlength: 100
					},
					"appbundle_superpersona[tipo]": {
						required: true
					},
					"appbundle_superpersona[ciudad]": {
						required: true
					}

				},
				messages: {
					"appbundle_superpersona[nombre]": {
						required: "Este campo no puede estar vacío",
						maxlength: "Este campo no puede tener mas de 100 caracteres"
					},
					"appbundle_superpersona[tipo]": {
						required: "Selecione algun elemento"
					},
					"appbundle_superpersona[ciudad]": {
						required: "Este campo no puede estar vacío"
					}
				},
				submitHandler: function (form) {
					form.submit();
				},
				errorPlacement: function (error, element) {
					//error.appendTo('.error');

					if (element.attr("name") === "appbundle_superpersona[nombre]") {
						//   $("#appbundle_superpersona_nombre").css('border-color','red');
						error.appendTo('.errorNombre');
					}

					if (element.attr("name") === "appbundle_superpersona[ciudad]") {
						//  $("#appbundle_superpersona_ciudad").css('border-color','red');
						error.appendTo('.errorCiudad');
					}
					if (element.attr("name") === "appbundle_superpersona[tipo]") {
						//    $("#appbundle_superpersona_tipo").css('border-color','red');
						error.appendTo('.errorTipo');
					}

				},
				highlight: function (element) {
					$(element).css('border-color', 'red');
				},

				// Called when the element is valid:
				unhighlight: function (element) {
					$(element).css('border-color', 'green');
				}
			});

			var form = $("#formulario");
			//  form.validate();
			$("#guardar").click(function (e) {

				if (form.valid() === true) {
					CMSuperpersona("{{url}}");
				}
				//crearSuperpersona();
				e.preventDefault(); // avoid to execute the actual submit of the form.
			});
		});
		function CMSuperpersona(accion) {

			$(".exito").css("display", "none");
			$(".error").css("display", "none");
			var id = null;
			var url = null;
			var metodo = null;
        {% if id is defined %}
				id = '{{id}}';
        {%endif%}

				var nombre = $("#appbundle_superpersona_nombre").val();
				var ciudad = $("#appbundle_superpersona_ciudad").val();
				var tipo = $("#appbundle_superpersona_tipo").val();
				var fuerza = $("#appbundle_superpersona_fuerza").val();
				var inteligencia = $("#appbundle_superpersona_inteligencia").val();
				var salud = $("#appbundle_superpersona_salud").val();

				var datos = {id: id, nombre: nombre, ciudad: ciudad, tipo: tipo,
					fuerza: fuerza, inteligencia: inteligencia,
					salud: salud};
				if (accion === 'put') {
					url = "{{path('put_superpersona')}}";
					metodo = "PUT";
				}

				if (accion === 'post') {
					url = "{{path('post_superpersona')}}";
					metodo = "POST";
				}
				$.ajax({

					url: url,
					method: metodo,
					data: datos,
					success: function (data, dataType) {

						if (data["response"] === "success") {

							$(".exito").html(data["mensaje"]);
							$(".exito").css("display", "block");
						} else {
							$(".error").html(data["mensaje"]);
							$(".error").css("display", "block");
						}
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
						$(".error").html("No se ha modificado la superpersona correctamente");
						$(".error").css("display", "block");
					}
				});

			}





    </script>
{% endblock %}

