{% extends "@App/layout.html.twig" %}
{% block content %}
    <div class="container">   
        <h3>Listado de superpersonas</h3>
        <div id="dialog" title="Eliminar Superpersona" style="display: none;">
            <p style="color:black;font: 15px arial, sans-serif;">¿Estas seguro que deseas eliminar esta superpersona?</p>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Superpersonas</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <a  class="btn btn-sm btn-primary btn-create" href="{{path("añadir_superpersona")}}">Crear superpersona </a>
                            <a  class="btn btn-sm btn-primary btn-create" href="{{path("index_no_activos")}}">Recuperar Superpersona </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table id ="tabla" class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                {% if activo == 0 %}
                                    <th>Activar</th>
                                    {% endif %}
                                <th>Nombre</th>
                                <th>Ciudad</th>
                                <th>Tipo</th>
                                <th>Score</th>
                                <th>Score type</th>
                                    {% if activo == 1 %}
                                    <th>Acciones</th>
                                    {% endif %}

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div> 
            </div>
            {% if activo == 0 %}
                <button type="button" id="recuperarDato" class="btn btn-primary" style="margin-top:2%;">Recuperar Datos</button>
                <a type="button" id="recuperarDato" class="btn btn-info" href="{{path('index_superpersonas')}}" style="margin-top:2%;"  >Volver al listado</a> 

            {% endif %}

            <div id="miModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Contenido del modal -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body mensajeConf">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="cerrarModal()">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
		function calcularScore(fuerza, inteligencia, salud) {
			var resultado = 0;

			resultado = (fuerza + inteligencia + salud) / 3;

			return Math.round(resultado);
		}
		function cerrarModal() {

			$("#miModal").modal("hide");
			$("#tabla").dataTable().fnClearTable();
			$("#tabla").dataTable().fnDestroy();
			listadoSuperpersonas(0);
		}

		function recuperarDato() {
			var selected = [];
			$("input:checkbox:checked").each(function () {

				selected.push($(this).val());

			});
			if (selected.length) {
				$.ajax({
					cache: false,
					type: 'post',
					dataType: 'json', // importante para que 
					data: {'datosSeleccionado': selected}, // jQuery convierta el array a JSON
					url: '{{ path("recuperar_datos") }}',
					success: function (data) {


						//modalConfirmacion
						if (data["response"] === "success") {

							$(".mensajeConf").html("<div class='alert alert-success' role='alert'>" + data["mensaje"] + "</div>");

						} else {
							$(".mensajeConf").html("<div class='alert alert-error' role='alert'>" + data["mensaje"] + "</div>");
						}
						$("#miModal").modal("show");
					},
					error: function () {
						$(".mensajeConf").html("<div class='alert alert-danger' role='alert'>Error a recuperar datos</div>");
						$("#miModal").modal("show");
					}

				});
			} else {
				$(".mensajeConf").html("<div class='alert alert-danger' role='alert'>Marque alguno para recuperar el registro</div>");
				$("#miModal").modal("show");
			}



		}

		function TipoSuperpersona(tipo) {
			var tipoSuperpersona = "";
			if (tipo === "1") {
				tipoSuperpersona = "Superheroe";
			} else {
				tipoSuperpersona = "Villano";
			}
			return tipoSuperpersona;
		}
		function eliminarSuperpersona(id) {
			var url = '{{ path("eliminar_superpersona", {'id': 'id'}) }}';
			url = url.replace("id", id);

			$.ajax({
				method: "DELETE",
				url: url,
				success: function (data)
				{


					$("#tabla").dataTable().fnClearTable();
					$("#tabla").dataTable().fnDestroy();
					listadoSuperpersonas(1);


				},
				error: function (jqXHR, exception)
				{
					if (jqXHR.status === 405)
					{
						console.error("METHOD NOT ALLOWED!");
					}
				}
			});

		}

		function eliminarSuperpersonaConfirm(event) {

			var id = event.getAttribute("data-id");

			$(function () {
				$("#dialog").dialog({
					resizable: false,
					height: "auto",
					width: 400,
					modal: true,
					buttons: {
						"Eliminar superpersoma": function () {
							$(this).dialog("close");
							eliminarSuperpersona(id);
						},
						Cancel: function () {
							$(this).dialog("close");
						}
					}
				});
			});
		}
		function listadoSuperpersonas(activo) {
			var url = "";
			var columnaOrden = "";
			if (activo === 1) {
				url = "{{ path('read_superpersona') }}";
				columnaOrden = [[0, "asc"]];
			} else {
				url = "{{ path('no_activos_superpersona') }}";
				columnaOrden = [[1, "asc"]];
			}
			$.ajax({
				method: "GET",
				url: url,
				data: 'json',
				success: function (data)
				{

					if (data.hasOwnProperty("response") && data.response === "success")
					{


						var superpersonas = JSON.parse(data.superpersonas);
						if (superpersonas.length > 0)
						{
							var filas = superpersonas.length;

							for (i = 0; i < filas; i++) {
								//cuenta la cantidad de registros
								var fuerza = superpersonas[i].fuerza;
								var inteligencia = superpersonas[i].inteligencia;
								var salud = superpersonas[i].salud;
								var score = calcularScore(fuerza, inteligencia, salud);
								var tipo = TipoSuperpersona(superpersonas[i].tipo);
								var id = superpersonas[i].idSuperpersona;
								var url = '{{ path("form_editable", {'id': 'id'}) }}';
								url = url.replace("id", id);
								var nuevafila = "<tr id='fila" + id + "'>";
								if (activo === 0) {
									nuevafila += "<td>" +
											"<input type='checkbox' name='superpersona' value='" + id + "'></td>";
								}
								nuevafila += "<td>" +
										superpersonas[i].nombre + "</td><td>" +
										superpersonas[i].ciudad + "</td><td>" +
										tipo + "</td><td>" +
										score + "</td><td>" +
										"igual" + "</td>";
								if (activo === 1) {
									nuevafila += "<td>" +
											"<button class='btn btn-danger eliminar' data-id='" + id + "' onclick='eliminarSuperpersonaConfirm(this)'>Eliminar</button>" +
											"<a class='btn btn-primary modificar' data-id='" + id + "' href='" + url + "'>Modificar</button></td>";
									;
								}
								nuevafila += "</tr>";

								$("#tabla tbody").append(nuevafila);
							}

							//$('#tabla').DataTable();

							$('#tabla').DataTable({
								dom: 'Bfrtip',
								order: columnaOrden,
								buttons: [
									{
										extend: 'csv',
										title: 'Superpersonas',
										exportOptions: {
											columns: [0, 1, 2, 3, 4]
										}
									}
								],
								"language": {
									"url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
								}
							});
						}



					}
				},
				error: function (jqXHR, exception)
				{
					if (jqXHR.status === 405)
					{
						console.error("METHOD NOT ALLOWED!");
					}
				}
			});
		}
		$(document).ajaxStart(function () {
			$.preloader.start({

				modal: true

			});
			$(document).ajaxStop(function () {
				$.preloader.stop();

			});


		});
		jQuery(document).ready(function ($)
		{


			$("#recuperarDato").on("click", function () {
				recuperarDato();
			});
        {% if activo == 1 %}
				listadoSuperpersonas(1);
        {% elseif activo == 0 %}
				listadoSuperpersonas(0);
        {% endif%}

			}

			);
    </script>
    <style>
        #dialog{
            color:black;
        }

    </style>
{% endblock %}





