{% extends "@App/layout.html.twig" %}
{% form_theme form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-danger">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                    {% endfor %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block content %}


    {% if is_granted('ROLE_USER') %}
        <strong>Estas logueado con usuario normal</strong> 
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <strong>Estas logueado con usuario adminsitrador</strong> 
    {% endif %}
    {% set tagLogin = "" %}
    {% set tagRegistro = "" %}



    <hr/>
    <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-5" >
                <h1 style="text-align:center;">Gestión Superpersonas</h1>
                <h3 style="text-align:center;">Identificate para entrar</h3>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% if activarTagRegistro is defined %}
                        {% set tagLogin = '' %}
                        {% set tagRegistro = 'show active ' %}
                        <li class="nav-item">


                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nuevo</a>
                        </li>
                    {% else %}
                        {% set tagLogin = 'show active' %}
                        {% set TagRegistro = '' %}
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nuevo</a>
                        </li>
                    {% endif %}


                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade {{tagLogin}}" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <form class="login"  action="{{path("login_check")}}" method="post">
                            {% if app.session.flashbag().get('status') is defined %}
                                {% for message in app.session.flashbag().get('status') %}
                                    <div class="alert alert-danger">{{message}}</div>
                                {% endfor %}
                            {% endif %}
                            <div class="form-group">

                                <input type="email" placeholder="Email" class="form-control" id="username" name="_username" class="form-control"/>
                            </div>
                            <div class="form-group">

                                <input type="password" placeholder="Password" class="form-control" id="password" name="_password"  class="form-control"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="form-control btn btn-success" value="Enviar" class=""/>
                            </div>
                            <input type="hidden" name="_target_path" value="/"/>
                        </form>
                    </div>

                    <div class="tab-pane fade {{tagRegistro}}" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                        {{form_start(form,{'attr':{'class':'new_usuario'}})}}
                        <h2 style="color:black;">Registro</h2>
                        <hr/>
                        {% if mensajeEmailError is defined %}
                            <div class="alert alert-danger">
                                {{mensajeEmailError}}
                            </div>
                        {% endif %}

                        {{form_errors(form.password.password)}}

                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            {{form_widget(form.nombre,{'attr':{'class':'form-control', 'placeholder':'Nombre...'}})}}
                            <span class="errorNombre" style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="apellidos">Apellidos:</label>
                            {{form_widget(form.apellidos,{'attr':{'class':'form-control', 'placeholder':'Apellidos...'}})}}
                            <span class="errorApellidos" style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            {{form_widget(form.email,{'attr':{'class':'form-control', 'placeholder':'Email...'}})}}
                            <span class="errorEmail" style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            {{form_widget(form.password.password,{'attr':{'class':'form-control', 'placeholder':'Password...'}})}}
                            <span class="errorPassword" style="color:red;"></span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            {{form_widget(form.password.confirm,{'attr':{'class':'form-control', 'placeholder':'Password...'}})}}
                            <span class="errorPassword" style="color:red;"></span>
                        </div>
                        <div class="submit-btn">
                            <button type="submit" class="btn btn-success">Registrarme</button>
                        </div>
                        {{form_end(form)}}
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="clearfix"></div>

    <style>

        .login{
            background-color: white;
            padding: 20px;
        }
        .nav .nav-tabs {
            display: table;
            table-layout: fixed;
            width: 100%;
            border-bottom: none;
        }
        .new_usuario{
            background-color: white;
            padding: 20px;
        }


    </style>
    <script>
		$(document).ready(function ()
		{
			$(".new_usuario").validate({

				rules: {
					"appbundle_usuario[nombre]": {
						required: true,
						maxlength: 255
					},
					"appbundle_usuario[apellidos]": {
						required: true,
						maxlength: 255
					},
					"appbundle_usuario[email]": {
						required: true,
						email: true,
						maxlength: 255
					},
					"appbundle_usuario[password][password]": {
						required: true,
						maxlength: 255
					}

				},
				messages: {
					"appbundle_usuario[nombre]": {
						required: "Este campo no puede estar vacío",
						maxlength: "Este campo no puede tener mas de 255 caracteres"
					},
					"appbundle_usuario[apellidos]": {
						required: "Este campo no puede estar vacío",
						maxlength: "Este campo no puede tener mas de 255 caracteres"
					},
					"appbundle_usuario[email]": {
						required: "Este campo no puede estar vacío",
						maxlength: "Este campo no puede tener mas de 255 caracteres",
						email: "Email no válido"
					},
					"appbundle_usuario[password][password]": {
						required: "Este campo no puede estar vacío",
						maxlength: "Este campo no puede tener mas de 255 caracteres"
					}

				},
				submitHandler: function (form) {
					form.submit();
				},
				errorPlacement: function (error, element) {
					//error.appendTo('.error');

					if (element.attr("name") === "appbundle_usuario[nombre]") {
						//   $("#appbundle_superpersona_nombre").css('border-color','red');
						error.appendTo('.errorNombre');
					}

					if (element.attr("name") === "appbundle_usuario[apellidos]") {
						//  $("#appbundle_superpersona_ciudad").css('border-color','red');
						error.appendTo('.errorApellidos');
					}
					if (element.attr("name") === "appbundle_usuario[email]") {
						//    $("#appbundle_superpersona_tipo").css('border-color','red');
						error.appendTo('.errorEmail');
					}
					if (element.attr("name") === "appbundle_usuario[password][password]") {
						//    $("#appbundle_superpersona_tipo").css('border-color','red');
						error.appendTo('.errorPassword');
					}

				},
				highlight: function (element) {
					$(element).css('border-color', 'red');
				},

				// Called when the element is valid:
				unhighlight: function (element) {
					$(element).css('border-color', 'green');
				}
			});
		});

    </script>

{% endblock %}

