{% extends "@App/layout.html.twig" %}
{% block content %}
    {% if app.user != null %}
        <div class="row">
            <div class="col-md-12" style="margin-top:10%;text-align:center; border-style: solid;border-radius:10px;background-color:#8B0000">
                <h1>Bienvenido, {{app.user.nombre}} {{app.user.apellidos}}</h1>
                <p>Aquí podrá gestionar datos de cualquier persona ubicada en Estados Unidos con súper 
                    poderes</p>
            </div>

        </div>

    {% endif %}
{% endblock %}